@media (max-width: 768px) {
    #About img {
        width: 100%;        /* Nuotrauka užima visą tėvo elemento plotį */
        height: auto;       /* Automatinis aukščio pritaikymas pagal plotį */
        max-height: 250px;  /* Maksimalus aukštis nustatytas į 300px */
        object-fit: cover;  /* Užtikrina, kad nuotrauka vizualiai atrodys proporcingai */
    }
    .navbar {
        flex-direction: column;
        text-align: center;
    }
    .nav-list {
        flex-direction: row;
    }
    .nav-link {
        padding: 5px;
    }
    .image-text {
        font-size: 10vw;
        padding: 0 20px;
    }
    #jumbotron {
        height: 80vh;
    }
    #jumbotron-image {
        object-fit: contain; 
    }
    #Portfolio .portfolio-img {
        max-width: 250px;  
        height: auto;    
    }
    .dropdown-menu .theme-toggle-btn{
        display: block;
    }
    .menu-buttons-portfolio {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .filter-btn {
        font-family: 'Georgia', serif;
        font-size: 14px; 
        margin: 0 8px;
        color: #4c5155;
        background: none;
        border: none;
        cursor: pointer;
        transition: color 0.3s ease;
    }
    #Portfolio .col-lg-4,
    #Portfolio .col-md-6,
    #Portfolio .col-sm-12 {
        flex: 0 0 50%; 
        padding: 5px; }
        .footer-container {
            gap: 10px;
        }
    
        .footer-socials {
            flex-wrap: wrap;
            gap: 5px;
        }
    
        .social-icon img {
            width: 25px;
            height: 25px;
        }
    }
@media (max-width: 576px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between; 
    }
    #About img {
        width: 100%;
        height: auto;
    }
    .container {
        padding: 10px;
    }
    #Portfolio img {
        max-width: 200px;
        height: auto;
    }
    .image-text {
        font-size: 15vw; 
    }
    #Portfolio .col-lg-4,
    #Portfolio .col-md-6,
    #Portfolio .col-sm-12 {
        flex: 0 0 50%; 
    }
    .filter-btn {
        font-size: 12px;
        margin: 0; 
        padding: 1px 1px;
    }
}
#jumbotron {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
}
#jumbotron-image {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(24px, 10vw, 72px);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    z-index: 1;
}
#About img{
    width: 300px;
    height: 400px;
    margin-left: -50px;
    object-fit: cover;
}
#About h1, #Portfolio h1, #Resume h1, #Contacts h1{
    text-align: center;
    text-shadow: 0px -10px 7px rgba(139,119,119,0.45);
    font-size: 50px;
    margin-top: 100px;
}
#Portfolio #p1{
    margin-bottom: 50px;
}
.p1{
    text-align: center;
}
h1, h2, h4, h6 {
    font-family: 'Georgia', serif;;
    font-weight: bold;
    color: #2c3e50;
}
h5{
    font-family: 'Georgia', serif;
    font-weight: bold;
    color: #4c5155;
    font-size: 25px;
}
#About h3{
    font-family: 'Georgia', serif;
    font-size: 30px;
    color: #4c5155;
}
#Resume ul li{
    font-family: 'Georgia', serif;
    color: #4c5155;
    margin-left: -15px;
    line-height: 2;
}
p {
    font-family: 'Georgia', serif;
    font-size: 16px;
    line-height: 1.6;
    color: #4c5155; 
}
#p2{
    margin-left: -15px;
}
body ,html{
    overflow-x: hidden;
    font-family: 'Verdana', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
iframe, video {
    margin-top: 10px;
    margin-bottom: 10px;
}
ul.custom-list {
    list-style-type: none;
    padding: 0;
    font-family: 'Georgia', serif;
    color: #4c5155;
    margin-bottom: 15px;
    line-height: 2.5;
    margin-left: -15px;
}
ul.custom-list li::before {
    content: "\276F"; 
    color: orange;  
    font-weight: bold;
    margin-right: 10px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    transition: background-color 0.3s ease; 
    background-color: transparent; 
    box-shadow: none; 
    font-family: 'Times New Roman', sans-serif;
}
.navbar-left {
    flex: 1; 
}
#vardas {
    font-weight: bold;
    font-size: 2rem;
    color: white;
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
}
.navbar-center {
    flex: 2;
    display: flex;
    justify-content: center;
}
.menu-icon {
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
/* Sąrašas su nuorodomis */
.nav-list {
    display: flex;
    justify-content: center;
    flex: 1; 
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu-icon {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none;
}
.dropdown-menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 50px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px 0;
}
.dropdown-menu li {
    padding: 5px 20px;
}
.dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    font-family: 'Georgia', serif;
}
.dropdown-menu li a:hover {
    color: orange;
}
/* Smulkiems ekranams */
@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: center; 
        padding: 10px 20px;
    }
    .navbar-left {
        flex: 1; 
        text-align: left;
    }
    .navbar-right {
        flex: 0; 
    }
    .menu-icon {
        display: block;
    }
    .navbar-center {
        display: none; 
    }
    .theme-toggle-btn{
        display: none;
    }
}
/* Nuorodos stilius */
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    font-size: 20px;
    transition: color 0.3s ease;
}
/* Kai užvedame pelę */
.nav-link:hover {
    color: orange; 
}
/* Aktyvi nuoroda */
.nav-link.active {
    color: orange;
    font-weight: bold; }
 /* Bendras tamsaus režimo stilius */
body.dark-mode {
    background-color: black;
    color: #fff; 
}
body.dark-mode .dropdown-menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 50px;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}
body.dark-mode * {
    color: white !important;
}
body.dark-mode .nav-link:hover {
    color: orange !important;
}
body.dark-mode .nav-link.active {
    color: orange !important;
}
body.dark-mode .dropdown-menu li a:hover {
    color: orange !important;
}
.theme-toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 20px;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: #000;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    transition: all 0.3s ease;
}
.theme-toggle-btn.dark {
    background-color: #000;
    color: #fff;
}
.theme-toggle-btn span {
    position: absolute;
    font-size: 18px;
    line-height: 18px;
}
.theme-toggle-btn span.sun {
    left: 15px;
}
.theme-toggle-btn span.moon {
    right: 15px;
    display: none;
}
.theme-toggle-btn.dark span.sun {
    display: none;
}
.theme-toggle-btn.dark span.moon {
    display: block;
}
.dropdown-menu .theme-toggle-btn {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 0; 
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(20%);
}
.dropdown-menu .theme-toggle-btn span.sun {
    top: 0;
    align-items: center;
}
.dropdown-menu .theme-toggle-btn:hover {
    background-color: #f0f0f0;
}
#Resume .row {
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
}
#Resume .col-md-6 {
    flex: 1;
    padding-left: 0;
}
.timeline {
    position: relative;
    padding-left: 20px;
}
.timeline::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 2px;
    height: calc(100% - 8px);
    background-color: orange;
}
.timeline-item {
    position: relative;
    padding-left: 0; /* Išlygiavimo pakeitimas */
    margin-bottom: 40px;
}
.timeline-item h5, .timeline-item p, .timeline-item ul {
    margin-left: 0; /* Išlygiavimas su linija */
}

/* Circle indicator */
.timeline-item::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -27px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 2px solid orange;
    border-radius: 50%;
}

@media (max-width: 768px) {
    #Resume .col-md-6 {
        flex: 1 1 100%;
    }
}
#Portfolio .col-lg-4,
#Portfolio .col-md-6,
#Portfolio .col-sm-12 {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

#Portfolio img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}
.image-container {
    position: relative;
}
.zoom-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    display: none;
    cursor: pointer;
}
.image-container:hover .zoom-icon {
    display: block;
}
.zoomed-in {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3); /* Priartinimo dydis */
    z-index: 1000;
    max-width: none;
    cursor: zoom-out;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.zoom-in-effect {
    opacity: 0;
    animation: zoomInAnimation 0.6s forwards;
}

@keyframes zoomInAnimation {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.zoom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.zoom-overlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

#Portfolio .col-lg-4.hidden,
#Portfolio .col-md-6.hidden,
#Portfolio .col-sm-12.hidden {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
}

#Portfolio .col-lg-4.active,
#Portfolio .col-md-6.active,
#Portfolio .col-sm-12.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

.menu-buttons-portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-btn {
    font-family: 'Georgia', serif;
    font-size: 16px;
    margin: 0 15px;
    color: #4c5155;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.filter-btn:hover {
    color: orange;
}

.filter-btn.active {
    color: orange;
}

.hidden {
    display: none !important;
}
.footer {
    background-color: black;
    color: orange;
    text-align: center;
    padding: 10px 10px;
    font-family: 'Georgia', serif;
    position: relative;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}
#poraste, #afterName{
    color: white;
}
#poraste{
    font-size: 30px;
    margin-bottom: 0;
}
#txt {
    position: absolute; /* Laikrodis bus pozicionuojamas absoliučiai */
    right: 10px; /* 10px nuo dešiniojo krašto */
    top: 10px; /* 10px nuo viršaus */
    font-size: 16px;
    color: white;
    font-family: 'Arial', sans-serif;
}
.footer-socials {
    display: flex;
    gap: 5px;
}
.fa {
    display: flex; /* Centravimas */
    padding: 13px 5px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: orange;
    transition: all 0.3s ease;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook, .fa-instagram {
    font-size: inherit;
    color: white !important;
}
.footer-contact p, .footer-credits p {
    margin: 0;
    color: orange;
}
.footer-contact p {
    font-size: 14px;
    color: white;
}
.footer-credits p {
    font-size: 12px;
    opacity: 0.8;
    margin-top: 25px;
}
.horizontal-line {
    border-top: 2px solid rgb(63, 62, 62);
    width: 80%;
    margin: 10px;
}
#up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(255, 179, 39); 
    color: black;
    cursor: pointer;
    padding: 0;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    font-size: 21px;
    font-weight: 10;
  }
  
  #up:hover {
    background-color: rgb(255, 196, 85); /* Add a dark-grey background on hover */
  }
  .formula-container {
    margin-top: 20px;
    text-align: left; 
    background-color: #e1e1e1; 
    padding: 10px; 
    border: 2px solid #868686;
    border-radius: 5px; 
    font-size: 1.2em; 
    display: inline-block;
}
.formula-container math {
    display: block;
    margin: 0;
    text-align: left;
}
.custom-row {
    display: flex;
    align-items: center;
}
.custom-row .col-sm-3 {
    flex: 0 0 auto;
    margin-right: -50px;
}
.custom-row .col-sm-9 {
    flex: 1;
}