@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }
    .nav-list {
        flex-direction: row;
    }
    .nav-link {
        padding: 5px;
    }
    .image-text {
        font-size: 40px;
    }
}
@media (max-width: 576px) {
    #About img {
        width: 100%;
        height: auto;
    }
    #Portfolio img {
        width: 100%;
        height: auto;
    }
}
#jumbotron {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    
}
#jumbotron-image {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    z-index: 1;
}
#About img{
    width: 300px;
    height: 400px;
    margin-left: -20px;
}
#About h1, #p1{
    text-align: center;
}
#Resume h1{
    text-align: center;
}
#Portfolio #portfolio1, #portfolio2{
    width: 300px;
    height: 250px;
}
h1, h2, h4, h6 {
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
    color: #2c3e50;
}
h5{
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
    color: #4c5155;
    font-size: 25px;
}
#About h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #4c5155;
}
#Resume ul li{
    color: #4c5155;
}

p {
    font-family: 'Georgia', serif;
    font-size: 16px;
    line-height: 1.6;
    color: #4c5155; /* Pilkai mėlyna spalva */
}
body {
    font-family: 'Verdana', sans-serif;
    background-color: #f8f9fa; /* Šviesi foninė spalva */
}
iframe, video {
    margin-top: 10px;
    margin-bottom: 10px;
}
ul.custom-list {
    list-style-type: none;
    padding: 0;
}
ul.custom-list li::before {
    content: "\276F"; 
    color: orange;  
    font-weight: bold;
    margin-right: 10px;
}
/* Navigacijos juosta */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    transition: background-color 0.3s ease; /* Sklandus perėjimas */
    background-color: transparent; /* Pradinė būsena – be fono */
    box-shadow: none; /* Be šešėlio */
    font-family: 'Times New Roman', sans-serif;
}
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.5); /* Juodas permatomas fonas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Šiek tiek šešėlio */
}
#vardas {
    font-weight: bold;
    font-size: 2rem;
    color: white;
    margin: 0; /* Pašalina nereikalingus tarpus */
    font-family: 'Times New Roman', sans-serif;
}
/* Sąrašas su nuorodomis */
.nav-list {
    display: flex;
    justify-content: center; /* Centruoja likusius elementus */
    flex: 1; /* Užtikrina, kad liks centre */
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Nuorodos stilius */
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    font-size: 20px;
    transition: color 0.3s ease;
}
/* Kai užvedame pelę */
.nav-link:hover {
    color: #FF5733; /* Oranžinė spalva */
}
/* Aktyvi nuoroda */
.nav-link.active {
    color: #FF5733; /* Oranžinė spalva */
    font-weight: bold; /* Paryškinimas */
}